<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Búsqueda de Tenis</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <h1>Buscar Tenis</h1>
        <form th:action="@{/busqueda}" method="post">
            <div class="form-group">
                <label for="marca">Marca:</label>
                <input type="text" class="form-control" id="marca" name="marca">
            </div>
            <div class="form-group">
                <label for="talla">Talla:</label>
                <input type="text" class="form-control" id="talla" name="talla">
            </div>
            <div class="form-group">
                <label for="color">Color:</label>
                <input type="text" class="form-control" id="color" name="color">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</body>
</html>